*{
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 75rem;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Reset Password  Form */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.wrapper {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  position: relative;
}

.form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 7px 19px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.forgot-password{
  margin-top: 5px;
  background: rgb(98, 134, 207);
  color: white;
}

.forgot-password:hover{
  background: rgb(79, 118, 198);
}

.close-icon {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  font-size: 20px;
  cursor: pointer;
}


.form-f {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center; 
}

/* Home Page */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 1px solid black;
  height: 400px;
}

.editProfile {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 6vh;
  margin-top: 80px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #007bff;
}

.editProfile:hover{
  background-color: #0056b3;
}

.navbar-brand{
  margin-left: 20px;
}

.edit-btn{
  margin-top: 30px;
}

.email-input{
  margin-top: 12px;
}

.edit-title{
  text-align: center;
}

.password-input{
  margin-top: 12px;
}

.accounting-ms {
  text-decoration: none;
  font-size: 23px;
}